<?xml version="1.0"?>
<configuration>
  <system.web>

    <authorization>
      <!--The two types of roles allowed within the web application-->
      <allow roles="Administrators"/>
      <allow roles="RegisteredUsers"/>
      <deny users="*"/>

    </authorization>


  </system.web>
</configuration>
